<!DOCTYPE html>
<html>
  <head>
    <title>Message Box</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Message Box</h1>
    <form method="post" action="/submit-form">
      <label for="senderName">Name:</label>
      <input type="text" name="senderName"><br>
      <label for="message">Message:</label>
      <input type="text" name="message"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
