<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Submitted</title>
    </head>
    <body>
        <h2>Your message has been submitted successfully.</h2>
    </body>
</html>